@import '../common/less/variables.less';
.antd-pro-pages-account-settings-style-main {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  overflow: auto;
  background-color: @component-background;
}
.antd-pro-pages-account-settings-style-leftMenu {
  width: 224px;
  border-right: 1px solid #f0f0f0;
}
.post-main {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', sans-serif;
  background-color: @component-background;
  p {
    line-height: 1.75;
    margin-bottom: 1.2em;
    margin: 0 0 10px;
  }
}

@media (min-width: 992px) {
  .docs-sidebar.affix {
    position: fixed;
    top: 70px;
  }
}
@media (min-width: 992px) {
  .docs-sidebar.affix,
  .docs-sidebar.affix-bottom {
    width: 213px;
  }
}
