@import '../common/less/variables.less';
.post-main {
  background-color: @component-background;
}
.blog-post{
  padding: 20px 28px;
}
.docs-sidebar.affix {
  position: fixed;
  top: 70px;
  right: 80px;
}
.docs-sidebar {
  .toc {
    font-size: 12px;
    list-style: none;
    border-left: 1px solid #f0f0f0;
    ul {
      margin: 16px 0;
      padding-left: 8px;
    }
  }
  li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    line-height: 1.5;
    list-style: none;
  }
  a {
    display: block;
    width: 110px;
    margin-left: -1px;
    padding-left: 16px;
    overflow: hidden;
    color: @text-color;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-left: 1px solid transparent;
    transition: all 0.3s ease;
    &:hover,
    &.current {
      color: @primary-color;
      border-color: @primary-color;
    }
  }
}
